body {
  margin: 150px;
  background-color: #ECECEA;
}

.board-row {
  display: table;
  margin-left:auto; 
  margin-right:auto;
}

.board-container{
  position: absolute;
  left: 50%;
}



.game-pieces {
  position: relative;
  left: -50%;

  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 8px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 48px; 
  border: solid;
  border-color: transparent;
}

.display-spaces {
  position: relative;
  left: -50%;
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 8px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 48px;
  color: white;
  border: solid;
  border-color: lightgray
}

.dark-space{
background-color: RGB(125, 135, 150);
}

.light-space{
    background-color: RGB(232, 235, 239);
}

@-webkit-keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1; }
 }
 @keyframes flash {
  0% { opacity: .3; }
  100% { opacity: .7; }
 }

 .flash {
  background-color: green;
  opacity: 1;
  -webkit-animation: flash 8s;
  animation: flash 8s;
 }

 @-webkit-keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
 }
 @keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
 }

 .react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}


