body {
  margin: 150px;
  background-color: #ECECEA;
}

.board-row {
  display: table;
  margin-left:auto; 
  margin-right:auto;
}

.square-base {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 8px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
  color: white;
  border: solid;
  border-color: lightgray
  
}

.dark-square{
background-color: RGB(125, 135, 150);
}

.light-square{
    background-color: RGB(232, 235, 239);
}
