body {
  margin: 150px;
  background-color: #ECECEA;
}

.board-row {
  display: table;
  margin-left:auto; 
  margin-right:auto;
}

.space-default {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 8px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
  color: white;
  border: solid;
  border-color: lightgray
  
}

.dark-space{
background-color: RGB(125, 135, 150);
}

.light-space{
    background-color: RGB(232, 235, 239);
}

@-webkit-keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1; }
 }
 @keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1; }
 }

 .flash {
  opacity: 1;
  -webkit-animation: flash 5s;
  animation: flash 5s;
 }

 @-webkit-keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
 }
 @keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
 }

 .test {
  background-color: RGB(0, 0, 0);

 }
