

.about{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 250px;
  left: 45%;
  color: whitesmoke;
}

/* .about-container{
  display: flex;
  flex-direction: row;
  width: 80%;
  text-align: center;
  justify-content: center;
} */

ul{
  text-align: center;
}

.about li{
  display: inline-block;
}

h1{
  font-size: 40px;
}

p{
  font-size: 20px;
}
