

 .about {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-evenly;
  top: 250px;
  color: whitesmoke;
  width: 100%;
  height: auto;
}


 .about li{
  display: inline-block;
  text-align: center;
  width: 20%;
}

h1{
  font-size: 60px;
}

p{
  font-size: 30px;
}

