@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');



#main {
  background-color: rgb(79, 169, 185);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover; 
  overflow-x: hidden;
}

#banner-text{
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Monoton', cursive;
  font-size: 50px;
}



.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  margin-top: 1px;
  width: 100%;
  background: black;
  opacity: .8;
  color: white;
  padding: 20px 0px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}
.nav li:hover{
  background: lightslategrey;
  cursor: pointer;
}

a {
  color: inherit; 
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .reset {
    left: 15%;
  }
  #banner-text{
    font-size: 45px;

  }
}

@media screen and (max-width: 900) {
  #banner-text{
    font-size: 30px;
  }
}

@media screen and (max-width: 860px) {
  #banner-text{
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .reset {
    left: 15%;
  }
  #banner-text{
    font-size: 25px;

  }
}

